<div class="container my-4">
    <p-card header="Lista de atividades">
        <app-todo-form (newTodo)="addTodo($event)"></app-todo-form>
        <p-table [value]="todos">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Categoria</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-todo>
                <tr>
                    <td>{{ todo.name }}</td>
                    <td>
                        <p-tag 
                            [value]="getLabelTag(todo.status)"
                            [severity]="getSeverityTag(todo.status)">
                        </p-tag>
                    </td>
                    <td>{{todo.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ todo.category }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>

<p-toast></p-toast>